#header {
    background: blue;
    display: flex;
    justify-content: center;
    color: white;
    
}
.weather-card {
    /* Add CSS styles for weather cards */
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #0950e9;
}
.weather-card p {
    /* Add CSS styles for paragraphs inside weather cards */
    margin: 5px 10;
}